.large-hero {
    position: relative;    
}

.large-hero__text-content {
    position: absolute;
    top: 50%;                     /* zentriert vertikal */
    transform: translateY(-50%);  /* zentriert vertikal */
    left: 0;
    width: 100%;        /* zentriert horizontal*/
    text-align: center; /* zentriert horizontal*/

}